<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <connectionStrings>
    <add name="torronto" providerName="Npgsql" connectionString="User Id=torronto_user;Password=123123;Host=localhost;Port=5433;Database=torronto;Pooling=true;MinPoolSize=0;MaxPoolSize=100;" />
    <add name="sphinx" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Port=9306;Database=torronto;charset=utf8;Pooling=true;" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
      <target xsi:type="Console" name="c" layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="f" />
      <logger name="*" minlevel="Trace" writeTo="c" />
    </rules>
  </nlog>

  <appSettings>
    <add key="sa.Twitter" value="" />
    <add key="sa.Facebook" value="" />
    <add key="sa.Google" value="" />
    <add key="sa.Vk" value="" />

    <add key="xsa.OverridePort" value="0" />

    <add key="Mail.Smtp.Host" value="smtp.gmail.com" />
    <add key="Mail.Smtp.Port" value="587" />
    <add key="Mail.Smtp.Username" value="torrontorobot@gmail.com" />
    <add key="Mail.Smtp.Password" value="" />
    <add key="Mail.Smtp.EnableSsl" value="true" />
    <add key="Mail.EmailFrom" value="Torronto &lt;torrontorobot@gmail.com&gt;" />

    <add key="Kinopoisk.UndetailedMoviesLimit" value="100" />
    <add key="Rutor.UndetailedTorrentsLimit" value="500" />
    <add key="Rutor.ScanPages" value="1" />
    <add key="Rutor.Domain" value="http://www.top-tor.org/" />

    <add key="Search.IsSphinxEnabled" value="true" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>